.register-page {
    -fx-background-color: #F4F7FF;
}

.register-card {
    -fx-background-color: white;
    -fx-background-radius: 16px;
    -fx-border-color: #ccc;
    -fx-border-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10,0,0,2);
}

.register-field {
    -fx-background-color: white;
    -fx-border-color: #F2F2F2;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
}

.register-button {
    -fx-width: 75%;
    -fx-background-color: #374151;
    -fx-border-radius: 3px;
}