.login-page {
    -fx-background-color: #F4F7FF;
}

.login-card {
    -fx-background-color: white;
    -fx-background-radius: 16px;
    -fx-border-color: #ccc;
    -fx-border-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10,0,0,2);
}

.login-field {
    -fx-background-color: white;
    -fx-border-color: #F2F2F2;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
}

.login-button {
    -fx-width: 75%;
    -fx-background-color: #374151;
    -fx-border-radius: 3px;
}

.register-redirect {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: #46c9cb;
    -fx-cursor: hand;
    -fx-padding-left :1px;
}

/*TODO add letter spacing between characters*/
#username-field {
    -fx-letter-spacing: 2px;
}